@import './base.css';

#app {
  margin: 0 auto;
  max-width: 1920px;
  font-weight: normal;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@media (min-width: 1024px) {
}
@media (min-width: 960px) {
}
